node_modules/
auth_session/
.env
user_coba.json
user_limit.json
user_roles.json
user_tugas.json
panitia_agustus.json
temp/
session_*/
user_jadibot.json
user_premium.json
user_invoices.json
api open router.txt
gemma-3-4b-it-uncensored-v2_Q4_K_M.gguf
Modelfile
login ke vps.txt
*login ke vps*
data/
*.bak